<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main">
        <div id="header">
            <nav class="nav">
                <h1>examSathi</h1>
                <a href="home">home</a>
                <a href="units">units</a>
            </nav>

        </div>
        <div class="card">
            <h1>card one</h1>
            <button class="btn">open</button>

        </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>