<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-800 p-3 text-white">
        <a class="text-blue-900 " href="/">Back to Home</a>
        <h1 class="text-3xl mt-10 tracking-tighter mb-2">All users</h1>
        <div class="user flex gap-2 flex-wrap">
            <div class="user w-70 h-50 rounded-lg p-3 bg-zinc-800 rounded-lg">
                <div class="w-full rounded-lg bg-red-500">
                    <h3>Harsh singh</h3>
            </div>
        </div>
    </div>
    
</body>
</html>